<div class="image_container" id="[[media_id]]">
    <label for="image">[[label_value]]:</label>
    <div class="form-group-uit panel-uit panel-default-uit" style="border:1px solid #e9e9e9;">
        <div class="panel-body" style="padding:15px;">
            <div class="pull-right">
            <button type="button" class="btn btn-default btn-sm pull-right" style="margin-bottom:15px" ng-click="open('lg',this_form_media_field)">
                [[button_select_value]]
            </button><br>
            <button type="button" class="btn btn-default btn-sm pull-right" ng-click="open_modal_create_media('lg',this_form_media_field)">
                [[button_upload_value]]
            </button>
            </div>





            <div ui-sortable="sortableOptions">
            <div ng-repeat="mediatranslation in form_media_field.values[this_form_media_field.id]" class="pull-left sortable">
                <div class="text-center" style="margin-right:8px">
                    <div class="hidden">
                        [[this_form_media_field.mediaType]]
                lId: [[mediatranslation.locale_id]]<br>
                mtId:[[mediatranslation.id]]<br>
                mediaId:[[mediatranslation.media_id]]<br>
                lId: [[this_form_media_field.locale]]<br>
                formName:[[this_form_media_field.fieldName]]
                </div>
                <input type="hidden" name="[[field_id]][]" id="[[field_id]][]" value="[[mediatranslation.id]]">

                <img ng-src="/[[mediatranslation.thumbnail]]" class="thumbnail ng-cloak" style="width:100px;margin-right:0px;margin-bottom: 4px">



                    <a type="button"
                            href="[[media_field_edit_media_url]]/[[this_form_media_field.mediaType]]/[[mediatranslation.media_id]]/edit"
                            target="_blank"
                            tooltip-placement="top" uib-tooltip="wijzigen" type="button" style="margin-right: 6px" class="btn btn-xs btn-default add-tooltip ng-binding"><i class="fa fa-pencil"></i></a><button ng-click="removeMedium(this_form_media_field,mediatranslation.media_id)"
                        tooltip-placement="top" uib-tooltip="loskoppelen" type="button" class="btn btn-xs btn-danger add-tooltip ng-binding"><i class="fa fa-times"></i></button>

                </div>
            </div>
            </div>
        </div>
    </div>
</div>